pytest==6.2.2
geopy==2.1.0
pynverse==0.1.4.4
colorama==0.4.4
Shapely==1.7.1
scipy==1.6.0
geopandas==0.8.2
matplotlib==3.3.3
tqdm==4.59.0
vincenty==0.1.4
reverse_geocode==1.4.1
numpy==1.19.5
pandas==1.2.0
seaborn==0.11.1
